.navbar {
    background-color: -moz-dragtargetzone;
}

.quem-somos {
    background-color: lightblue;

}

.margin {
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: ivory;
}

.servicos {
    background-color: gainsboro;
}

.bg-footer {
    background-color: black;
    color: white;
}